@media (min-width: 768px) {
    .container-fluid {
        font-family: 'Titillium Web', sans-serif;
    }
    .tipbar {
        background-color: #353535;
        height: 24px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header {
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        max-width: 20%;
        text-align: center;
    }
    .form-control {
        max-width: 70%;
        float: left;
    }
    .header form, .header .form-group {
        margin-bottom: 0;
    }
    .busca {
        max-width: 45%;
    }
    
    #InputBusca {
        background-color: #EFEFEF;
        font-size: 12px;
        border: none;
        width: 791px;
        height: 40px;
        border-radius: 10px
    }
    .header .btn-primary {
        background-color: #FAA500;
        font-size: 12px;
        width: 119px;
        height: 40px;
        left: 672px;
        border-radius: 8px;
        border: none;
    }
    .link-header {
        max-width: 35%;
        font-size: 14px;
    }
    .link-header p {
        margin-bottom: 0;
    }
    .minha-conta span {
        background-image: url("../images/icon-user.svg");
        width: 14px;
        height: 16px;
        float: left;
        position: relative;
        left: 10px;
        top: 2px;
    }
    .favoritos span {
        background-image: url("../images/icon-heart.svg");
        width: 19px;
        height: 16px;
        float: left;
        position: relative;
        left: 20px;
        top: 2px;
    }
    .meu-carrinho span {
        background-image: url("../images/icon-shoppingbag.svg");
        width: 15px;
        height: 16px;
        float: left;
        position: relative;
        left: 6px;
        top: 2px;
    }
    .meu-carrinho {
        border: 1px solid #FAA500;
        border-radius: 8px;
    }
    .minha-conta, .favoritos, .meu-carrinho {
        padding: 10px;
        text-align: center
    }
    .header {
        box-shadow: 0px 1px 5px rgb(228, 228, 228);
    }
    .menu {
        display: flex;
        justify-content: space-around;
        padding: 15px 80px;
        font-size: 14px;
    }
    .menu-destaque {
        color: #FAA500;
    }
    .menu-icon {
        padding-right: 10px;
    }
    .slider .col-md-12 {
        padding: 0;
    }
    .carousel-caption {
        width: 31%;    
        bottom: 60px;
    }
    .carousel-caption h4 {
        font-size: 40px;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }
    .carousel-caption .carousel-text {
        font-size: 20px;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        padding: 10px 0;
    }
    .carousel-caption .carousel-btn {
        background-color: #FAA500;
        font-size: 16px;
        width: 128px;
        height: 48px;
        border-radius: 10px;
        padding-top: 12px;
    }
    .carousel-indicators .active {
        background-color: #FAA500;
    }
    .carousel-indicators li {
        background-color: transparent;
        border: 1px solid #FAA500;
        max-width: 16px;
        height: 16px;
        border-radius: 10px;
        margin: 0px 8px;
    }
    .porque, .marcas {
        background-color: #FAFAFA;
    }
    .porque-container, .marcas-container, .porque-titulo, .box-porque, .marcas-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .porque-titulo {
        font-size: 16px;
        font-weight: 600;
        padding: 30px 10px 20px 10px;
    }
    .box-porque {
        background: #EFEFEF;
        width: 308px;
        height: 64px;
        margin: 10px;
        padding: 10px;
    }
    .box-porque p {
        font-size: 11px;
        margin-bottom: 0;
    }
    .box-porque b {
        font-size: 14px;
    }
    .box-porque img {
        float: left;
        margin-right: 15px;
    }
    .marcas {
        padding-top: 30px;
    }
    .box-marcas {
        width: 308px;
        height: 64px;
        margin: 10px
    }
    .box-marcas img {
        width: 100%;
    }
    .marcas-titulo {
        font-size: 32px;
        font-weight: 600;
        padding: 30px 10px 20px 10px;
    }
}